---
import Card from "@components/Card.astro";
import MainLayout from "@layouts/MainLayout.astro";

const cards = [
  {
    title: "Sofa",
    picture: "/src/assets/image/furnitur-1.jpg",
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Sofa Set",
    picture: "/src/assets/image/furnitur-2.jpg",
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Kursi",
    picture: "/src/assets/image/furnitur-3.jpg",
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Meja Set",
    picture: "/src/assets/image/furnitur-4.jpg",
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Chair",
    picture: "/src/assets/image/furnitur-5.jpg",
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
];
---

<MainLayout pageTitle="Collections">
  <div class="flex flex-wrap sm:flex-nowrap max-w-2xl gap-4 items-start mt-12">
    <h1 class="sm:text-5xl text-4xl font-bold text-slate-800">
      Our Collections
    </h1>
  </div>
  <div class="container grid sm:grid-cols-4 grid-cols-2 gap-4 mt-20">
    {cards.map((item) => <Card {...item} urutan={cards.indexOf(item) + 1} />)}
  </div>
</MainLayout>
