---
import Card from "@components/Card.astro";
import MainLayout from "@layouts/MainLayout.astro";
import gbr1 from "@assets/image/furnitur-1.jpg";
import gbr2 from "@assets/image/furnitur-2.jpg";
import gbr3 from "@assets/image/furnitur-3.jpg";
import gbr4 from "@assets/image/furnitur-4.jpg";
import gbr5 from "@assets/image/furnitur-5.jpg";

const data = [
  {
    title: "Sofa",
    picture: gbr1,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Sofa Set",
    picture: gbr2,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Kursi",
    picture: gbr3,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Meja Set",
    picture: gbr4,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Chair",
    picture: gbr5,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
];
---

<MainLayout pageTitle="Collections">
  <div class="max-w-lg">
    <h1
      class="sm:text-4xl text-3xl font-bold text-slate-800 after:content-[''] after:block after:border-b-4 after:border-b-slate-300 after:mt-1 w-fit"
    >
      Our Collections
    </h1>
  </div>
  <div class="container grid sm:grid-cols-4 grid-cols-2 gap-4 mt-12 pb-8">
    {
      data.map((item: any) => (
        <Card {...item} urutan={data.indexOf(item) + 1} />
      ))
    }
  </div>
</MainLayout>
