---
import Card from "@components/Card.astro";
import MainLayout from "@layouts/MainLayout.astro";
import gbr1 from "@assets/image/furnitur-1.jpg";
import gbr2 from "@assets/image/furnitur-2.jpg";
import gbr3 from "@assets/image/furnitur-3.jpg";
import gbr4 from "@assets/image/furnitur-4.jpg";
import gbr5 from "@assets/image/furnitur-5.jpg";

const cards = [
  {
    title: "Sofa",
    picture: gbr1,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Sofa Set",
    picture: gbr2,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Kursi",
    picture: gbr3,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Meja Set",
    picture: gbr4,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Chair",
    picture: gbr5,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
];
---

<MainLayout pageTitle="Collections">
  <div class="flex flex-wrap sm:flex-nowrap max-w-2xl gap-4 items-start mt-12">
    <h1 class="sm:text-5xl text-4xl font-bold text-slate-800">
      Our Collections
    </h1>
  </div>
  <div class="container grid sm:grid-cols-4 grid-cols-2 gap-4 mt-20">
    {cards.map((item) => <Card {...item} urutan={cards.indexOf(item) + 1} />)}
  </div>
</MainLayout>
