---
import Card from "@components/Card.astro";
import MainLayout from "@layouts/MainLayout.astro";
import gbr1 from "@assets/image/furnitur-1.jpg";
import gbr2 from "@assets/image/furnitur-2.jpg";
import gbr3 from "@assets/image/furnitur-3.jpg";
import gbr4 from "@assets/image/furnitur-4.jpg";

const data = [
  {
    title: "Sofa",
    picture: gbr1,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Sofa Set",
    picture: gbr2,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Kursi",
    picture: gbr3,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
  {
    title: "Meja Set",
    picture: gbr4,
    deskripsi:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
  },
];
---

<MainLayout pageTitle="Home">
  <div class="flex flex-wrap sm:flex-nowrap max-w-2xl gap-4 items-start mt-12">
    <div>
      <h1 class="sm:text-5xl text-4xl font-bold text-slate-800">Moluska</h1>
    </div>
    <div class="text-slate-600 text-sm">
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
        explicabo sunt itaque ex architecto delectus, nobis perferendis saepe,
        libero eaque quam! Aspernatur, iusto pariatur. Molestiae.
      </p>
      <a href="/" class="font-semibold hover:underline">{">"} learn more</a>
    </div>
  </div>
  <div class="container grid sm:grid-cols-4 grid-cols-2 gap-x-8 gap-y-4 mt-20">
    {
      data.map((item: any) => (
        <Card {...item} urutan={data.indexOf(item) + 1} />
      ))
    }
  </div>
</MainLayout>
