---
import Card from "@components/Card.astro";
import MainLayout from "@layouts/MainLayout.astro";

const content = await fetch(
  "https://furniture-katalog.vercel.app/data.json"
).then((res) => {
  if (!res.ok) {
    throw new Error(`HTTP error! status: ${res.status}`);
  }
  return res.json();
});

const data = content.slice(0, 4);

// const data = [
//   {
//     title: "Sofa",
//     slug: "sofa",
//     picture: "/image/furnitur-1.jpg",
//     deskripsi:
//       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
//     harga: "1.000.000",
//   },
//   {
//     title: "Sofa Set",
//     slug: "sofa-set",
//     picture: "/image/furnitur-2.jpg",
//     deskripsi:
//       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
//     harga: "1.000.000",
//   },
//   {
//     title: "Kursi",
//     slug: "kursi",
//     picture: "/image/furnitur-3.jpg",
//     deskripsi:
//       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
//     harga: "1.000.000",
//   },
//   {
//     title: "Meja Set",
//     slug: "meja-set",
//     picture: "/image/furnitur-4.jpg",
//     deskripsi:
//       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.",
//     harga: "1.000.000",
//   },
// ];
---

<MainLayout pageTitle="Home">
  <div class="flex flex-wrap sm:flex-nowrap max-w-2xl gap-4 items-start mt-12">
    <div>
      <h1 class="sm:text-5xl text-4xl font-bold text-slate-800">Moluska</h1>
    </div>
    <div class="text-slate-600 text-sm">
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
        explicabo sunt itaque ex architecto delectus, nobis perferendis saepe,
        libero eaque quam! Aspernatur, iusto pariatur. Molestiae.
      </p>
      <a href="/" class="font-semibold hover:underline">{">"} learn more</a>
    </div>
  </div>
  <div class="container grid sm:grid-cols-4 grid-cols-2 gap-x-8 gap-y-4 mt-20">
    {
      data.map((item: any) => (
        <Card {...item} urutan={data.indexOf(item) + 1} />
      ))
    }
  </div>
</MainLayout>
