---
import TitleHeading from "@components/TitleHeading.astro";
import MainLayout from "@layouts/MainLayout.astro";

const title = "Studio";
---

<MainLayout pageTitle={title}>
  <div class="max-w-lg">
    <TitleHeading title={title} />
    <p class="text-slate-600 text-sm mt-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi totam
      repellendus, pariatur, vero vitae sapiente doloribus accusamus asperiores
      at veritatis unde! Dolore illum aspernatur quod?
    </p>
  </div>
</MainLayout>
