---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en" class="font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Moluska</title>
  </head>
  <body>
    <Navbar />

    <main class="flex">
      <aside class="mx-auto pl-4 sm:block hidden w-full max-w-[13vw]">
        <section class="sm:flex hidden text-sm h-screen fixed items-center">
          <div class="w-full" id="side-nav">
            <div class="flex flex-col gap-y-4">
              <div>
                <p class="font-semibold text-slate-700 uppercase">Contact Us</p>
                <a
                  href="https://wa.me/628212345678"
                  class="text-slate-500 text-sm">+62 82 1234 5678</a
                >
              </div>
              <div>
                <p class="font-semibold text-slate-700 uppercase">Address</p>
                <p class="text-slate-500 text-sm">ул. Пушкина, 1</p>
              </div>
              <div>
                <p class="font-semibold text-slate-700 uppercase">Instagram</p>
                <a
                  href="https://instagram.com/moluska"
                  class="text-slate-500 text-sm"
                >
                  @moluska</a
                >
              </div>
            </div>
            <div class="flex flex-col gap-y-2"></div>
          </div>
        </section>
      </aside>
      <section class="container w-full mt-16">
        <div class="relative">
          <div
            class="fixed top-0 right-0 mt-16 ml-auto sm:w-36 w-12 h-[50dvh] bg-slate-200 rounded-l-xl -z-10"
            id="ornament"
          >
          </div>
          <div class="relative z-[9]">
            <slot />
          </div>
          <div
            class="fixed bottom-8 left-0 mr-auto sm:w-12 w-4 sm:h-[25dvh] h-24 bg-slate-200 rounded-r-xl -z-10"
            id="ornament"
          >
          </div>
        </div>
      </section>
    </main>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
    }
  </style>
</html>
